{% load static %}
<!DOCTYPE html>
<html>
<head>
    
    <title>API TEST</title>
</head>
<body>
    <h3>POST Method:</h3>
    
    
    <form id="register-form">

        <p>UserName:eve.holt@reqres.in</p>
        <p>Password:pistol</p>
        <p>Email:
            <input id="email-input" class="text-input" type="text">
        </p>
        <p>Password:
            <input id="password-input" class="text-input" type="password">
        </p>
        <button class="register-button" type="submit">Register Here!</button>
    </form>
    
    <h3>Get Method:</h3>
    
    
    <div class="user-list">
        <!-- <div class="user-item">
            <img class="avatar">
            <h3 class="fullname"></h3>
            <p class="email"></p>
        </div> -->
    </div>
    <script src="/static/uploadpic/js/postapi.js"></script>
    <script src="/static/uploadpic/js/getapi.js"></script>
    
</body>
</html>